<section >
    <div class=" d-flex justify-content-center">

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d101695.50252950272!2d75.71141553648651!3d26.896001030918804!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396db5847621e805%3A0xcfdd62da74466c9a!2sPatrika%20Gate!5e0!3m2!1sen!2sin!4v1668263716525!5m2!1sen!2sin" width="80%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>