<div class="containee-fluid mt-5 contact-style" id="contactid">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <h1 class="text-center main-heading">Partners </h1>
      <p class="text-center sub-heading">our Happy customer</p>
      <div class="row">



<div class="slider">
     <div class="slide-track">
          <div class="slide">
              <img src="images/github-logo.png" height="100" width="100" />
          </div>
          <div class="slide">
              <img src="images/canva-logo.png" height="100" width="100" />
          </div>
          <div class="slide">
              <img src="images/pinterest-logo.png" height="100" width="100" />
          </div>
          <div class="slide">
              <img src="images/skia-logo.png" height="100" width="100" />
          </div>
          <div class="slide">
              <img src="images/vue-logo.png" height="100" width="100" />
          </div>
          <div class="slide">
              <img src="images/webflow-logo.png" height="100" width="100" />
          </div>

     </div>
</div>
      </div>
    </div>
  </div>
</div>